/* estilos maquetacion */
	
	main {
		padding-left: 240px;
	}

/* secciones */
	#titulo-seccion {
		height: 2.5em;
		font-size: 2em;
		padding: 0.5em 1em;
		color: #fff;
	}

	#seccion {
		margin: 2em;
		padding: 1em;
		background-color: #eceff1;
		overflow: auto;
	}

	/* comics */
		.comics ul {
			text-align: center;
		}

		.comics li {
			display: inline-block;
			margin: 1em;
			position: relative;
		}

		.comics li:hover>div, li:active>div{
			bottom: 0px;
			left: 0px;
			position: absolute;
			width: 100%;
			text-align: left;
			padding: 5%;
			display: block;
			background-color: rgba(255, 255, 255, 0.87) !important;
			color: 
		}

		.comics div {
			display: none;
		}

/* NavBar */

	#navBar {
		font-size: 1.1em;
	}

	#navBar-back {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		z-index: 900;
		height: 0;
		width: 100%;
		left: 0;
		right: 0;
	}

	#buttonNav {
		background-color: rgba(0, 0, 0, 0);
	}

/* colores */
	.side-nav li:hover, .side-nav li.active {
		background-color: #90a4ae;
	}

/* medias */
@media (max-width: 992px) {
	main {
		padding-left: 0;
	}
}