/* estilos maquetacion */
main {
	padding-left: 240px;
}

#titulo-seccion {
	height: 2.5em;
	padding: 0.5em 1em;
	font-size: 1.5em;
	color: #fff;
}

#seccion {
	margin: 2em;
	padding: 1em;
	background-color: #eceff1;
}

#navBar-back {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 900;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
}

#buttonNav {
	background-color: rgba(0, 0, 0, 0);
}

/* colores */
.side-nav li:hover, .side-nav li.active {
	background-color: #90a4ae;
}

/* medias */
@media (max-width: 992px) {
	main {
		padding-left: 0;
	}
}